<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <img src="/images/Avantrec_Logo_And_Name_Small.png" alt="Avantrec Logo"> 
            <nav>
                <ul>
                    <li><img src="/images/sonoplus_small.png" alt="SonoPlus Logo" align="middle"></li>
                    <li><a href="/sonoplus">About SonoPlus</a></li>
                    <li><a href="/sonoplus/faq">FAQ</a></li>
                    <li><a href="/sonoplus/beta">Beta</a></li>
                    <li><a href="/sonoplus/installation">Installation</a></li>
                    <li><a href="/sonoplus/instantlibrary">Instant Library</a></li>
                    <li><a href="/sonoplus/avantrec">About Avantrec</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li>(c) 2019 Avantrec Ltd</li>
                    <li>Contact: <a href="mailto:avantrec.ltd@gmail.com">avantrec.ltd@gmail.com</a>
                    <br>Avantrec Ltd has no connection with Sonos, Apple, or the Raspberry Pi Foundation.
                    <br>All trademarks acknowledged.</li>
                </ul>
            </footer>
        </body>
    </html>